[Desktop Entry]
Exec=twident
Name=Twident - Twitter and Identi.ca client
Name[ua]=Twident - клієнт для Twitter і Identi.ca
Name[ru]=Twident - клиент для Twitter и Identi.ca
Icon=twident
Type=Application
Categories=GTK;Network;InstantMessaging;
Comment=Fast, easy, and free Twitter and Identi.ca client
Comment[ua]=Швидкий, простий та вільний Twitter клієнт
Comment[ru]=Быстрый, простой и свободный Twitter клиент
GenericName=Twitter Client
GenericName[ua]=Twident
GenericName[ru]=Twident
Terminal=false
